@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Grotesk";
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.showcase {
  /* border: 2px solid black; */

  height: 100vh;
}

img {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
}
